services:
  postgres:
    image: postgres:16
    container_name: pg-core
    restart: always
    environment:
      POSTGRES_PASSWORD: ${PG_ROOT_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"

  pgbouncer:
    image: edoburu/pgbouncer:1.22.1
    container_name: pg-bouncer
    restart: always
    ports:
      - "0.0.0.0:6432:6432"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: ${PG_ROOT_PASSWORD}
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 200
      DEFAULT_POOL_SIZE: 20
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"

volumes:
  pgdata:
