- hosts: pg
  become: yes

  vars:
    docker_users:
      - "{{ ansible_user }}"
    home_dir: "/home/{{ ansible_user }}"

  handlers:
    - name: Restart SSH
      systemd:
        name: ssh
        state: restarted

  tasks:
    - import_tasks: tasks/security.yml
    - import_tasks: tasks/docker.yml
    - import_tasks: tasks/platform.yml
    - import_tasks: tasks/projects.yml
